/* ############## Variables ############## */
/* ############## Breakpoints ############## */
@mixin desktop {
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin landscapephone {
    @media screen and (min-width: 576px) and (max-width: 767px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 575px) {
        @content;
    }
}

/* à utiliser avec un :
        @include desktop {
            css code;
        }
        @include tablet {
            css code;
        }
*/

/* je ne vais pas utiliser les mixin pour l'instant :
        les changements appliqués lors d'un changement de taille de fenêtre 
        n'apparaissent pas dans l'inspecteur.
        faut déjà que je comprenne bien tout avant d'utiliser les mixin ...

        Donc pour gagner du temps, à copier coller dès que nécessaire :
        
        @media screen and (min-width: 992px) and (max-width: 1199px) {
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
        }
        @media screen and (min-width: 576px) and (max-width: 767px) {
        }
        @media screen and (max-width: 575px) {
        }
*/



/* ############## Fonts ############## */
@font-face {
    font-family: 'yesevaOne';
    src: url('../fonts/YesevaOne-Regular.ttf');
}

@font-face {
    font-family: 'gentium book basic';
    src: url(../fonts/gentium-book-basic.bold.ttf);
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato.regular.ttf');
}

@font-face {
    font-family: 'openSans';
    src: url('../fonts/open-sans.regular.ttf');
}

/* correspondances style polices :
regular et  italic : 400
bold : 700
*/


/* ############## let's go ############## */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    // liste à puces
    list-style-type: none;
}

body {
    width: 100vw;

    a {
        color: white;
    }

    // images are now responsive
    img {
        max-width: 100%;
        height: auto;
    }

    .content-width {
        width: 1024px;

        @media screen and (min-width: 992px) and (max-width: 1199px) {
            width: 90%;
            margin-left: 10%;
            margin-right: 10%;
        }

        @media screen and (min-width: 768px) and (max-width: 991px) {
            width: 90%;
            margin-left: 10%;
            margin-right: 10%;
        }

        @media screen and (min-width: 576px) and (max-width: 767px) {
            width: 90%;
            margin-left: 10%;
            margin-right: 10%;
        }

        @media screen and (max-width: 575px) {
            width: 90%;
            margin-left: 10%;
            margin-right: 10%;
        }
    }

    .bold {
        font-weight: 700;
    }

    header {
        width: 100%;
        background-image: url('../img/background_header.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;

        #header_top-bg {
            width: 100%;
            background-image: linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0));

            #header_top {
                width: 1170px;
                display: flex;
                justify-content: space-between;
                margin: auto;
                padding: 0 15px;

                @media screen and (min-width: 992px) and (max-width: 1199px) {
                    width: 970px;
                }

                @media screen and (min-width: 768px) and (max-width: 991px) {
                    width: 750px;
                }

                @media screen and (min-width: 576px) and (max-width: 767px) {
                    width: 550px;
                }

                @media screen and (max-width: 575px) {
                    width: 100%;
                }

                #logo {
                    //     display: block;
                    //     // cache le texte en l'indentant vers la gauche
                    //     text-indent: -200px;
                    //     // défini la taille du logo
                    width: 156px;
                    height: 92px;
                    //     // pose l'image
                    //     background: url('../img/logo.svg');
                    //     // on s'assure que l'image prend bien la taille voulue
                    //     background-size: 156px, 92px;
                    //     // fill: white;
                }

                nav {
                    display: flex;
                    // flex-direction: row;
                    align-items: center;

                    @media screen and (min-width: 576px) and (max-width: 767px) {
                        width: 50%;
                        justify-content: space-around;
                    }

                    @media screen and (max-width: 575px) {
                        width: 50%;
                        justify-content: space-around;
                    }

                    ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    #burger {
                        // background-image: url('../img/bouton_menu.png');
                        display: none;

                        @media screen and (min-width: 576px) and (max-width: 767px) {
                            display: inline;
                            width: 50px;
                            padding: 7px 7px 8px 7px;
                        }

                        @media screen and (max-width: 575px) {
                            display: inline;
                            width: 50px;
                            padding: 7px 7px 8px 7px;
                        }
                    }

                    #burger:hover {
                        cursor: pointer;
                        padding: 5px 5px 6px 5px;
                        border: 2px solid #cc9900;
                    }

                    #nav_menu {
                        font-family: 'gentium book basic', sans-serif;
                        font-weight: 700;
                        font-size: 21px;

                        @media screen and (min-width: 576px) and (max-width: 767px) {
                            display: none;
                        }

                        @media screen and (max-width: 575px) {
                            display: none;
                        }

                        ul {
                            li {
                                a {
                                    padding: 20px 34px;

                                    @media screen and (min-width: 768px) and (max-width: 991px) {
                                        padding: 20px 14px;
                                    }
                                }

                                a:hover {
                                    border-top: 3px solid white;
                                }
                            }
                        }
                    }

                    #nav_social {
                        ul {
                            li {
                                a {
                                    display: inline;
                                    color: white;

                                    svg {
                                        width: 20px;
                                        height: 20px;
                                        padding-right: 10px;
                                    }

                                    // svg:hover {
                                    //     path{
                                    //     fill: #cc9900;
                                    //     }
                                    // }
                                }
                            }

                            li:hover {
                                path {
                                    fill: #cc9900;
                                }
                            }
                        }
                    }
                }
            }
        }

        #header_bottom {
            // la taille est donnée par .content-width
            display: flex;
            flex-direction: column;
            margin: auto;

            h1 {
                margin-top: 100px;
                font-family: 'yesevaOne';
                text-align: center;
                font-size: 96px;
                text-shadow: 2px 2px black;

                @media screen and (min-width: 992px) and (max-width: 1199px) {
                    font-size: 80px;
                }

                @media screen and (min-width: 768px) and (max-width: 991px) {
                    font-size: 64px;
                }

                @media screen and (min-width: 576px) and (max-width: 767px) {
                    font-size: 48px;
                }

                @media screen and (max-width: 575px) {
                    font-size: 48px;
                }
            }

            svg {
                width: 250px;
                margin: 50px auto;
            }

            #btn_header {
                margin: auto;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                @media screen and (max-width: 575px) {
                    flex-direction: column;
                }

                .btn-header {
                    display: inline-block;
                    font-family: 'lato';
                    font-size: 20px;
                    line-height: 20px;
                    padding: 15px 40px;
                    // margin: auto;
                    margin-bottom: 100px;
                }

                #book_table {
                    margin-right: 15px;
                    background-color: rgba(0, 0, 0, 0.5);
                    border: 1px solid black;

                    @media screen and (min-width: 576px) and (max-width: 767px) {
                        // margin-right: 0;
                    }
    
                    @media screen and (max-width: 575px) {
                        margin-right: 0;
                    }
                }
                #book_table:hover {
                    border: 1px solid #cc9900;
                    color: #cc9900;
                }
                #see_menu {
                    margin-left: 15px;
                    background-color: rgba(255, 255, 255, 0.3);
                    border: 1px solid white;

                    @media screen and (min-width: 576px) and (max-width: 767px) {
                        // margin-left: 0;
                    }
    
                    @media screen and (max-width: 575px) {
                        margin-left: 0;
                    }
                }
                #see_menu:hover {
                    border: 1px solid #cc9900;
                    color: #cc9900;
                }
            }
        }
    }

    main {
        #section_about {
            width: 100%;
            background-image: url(../img/pattern_rond.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            div.content-width {
                /* prend sa taille avec .content-width */
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;

                @media screen and (min-width: 992px) and (max-width: 1199px) {
                    flex-wrap: wrap;
                }

                @media screen and (min-width: 768px) and (max-width: 991px) {
                    flex-wrap: wrap;
                }

                @media screen and (min-width: 576px) and (max-width: 767px) {
                    flex-wrap: wrap;
                }

                @media screen and (max-width: 575px) {
                    flex-wrap: wrap;
                }

                img {
                    width: 512px;
                    height: 515px;
                    @media screen and (max-width: 575px) {
                        width: 70vw;
                        height: 70vw;
                    }
                }

                #chief_words {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: 100px 15px;

                    h2 {
                        text-align: center;
                        font-family: 'yesevaOne';
                        font-size: 36px;
                        color: #cc9900;
                    }

                    svg {
                        width: 255px;
                    }

                    p {
                        font-family: 'lato';
                        text-align: center;
                        font-size: 17px;
                        line-height: 1.7;
                        color: #5d5d5d;
                    }

                    img:last-child {
                        width: 219px;
                        height: 221px;
                        margin: 50px 0 0 40px;
                    }
                }
            }
        }

        #section_ingredients {
            width: 100%;
            background-image: url('../img/background_ingredients.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            div.content-width {
                // prend sa taille avec .content-width
                display: flex;
                justify-content: flex-end;
                margin: auto;

                @media screen and (min-width: 992px) and (max-width: 1199px) {}

                @media screen and (min-width: 768px) and (max-width: 991px) {                    
                    justify-content: center;
                }

                @media screen and (min-width: 576px) and (max-width: 767px) {
                    justify-content: center;
                }

                @media screen and (max-width: 575px) {
                    justify-content: center;
                }

                #fine_ingredients {
                    width: 45.5%;
                    display: flex;
                    flex-direction: column;
                    background-color: rgba(0, 0, 0, 0.5);
                    margin: 100px 0;
                    padding: 50px;

                    h2 {
                        text-align: center;
                        font-family: 'yesevaOne';
                        font-size: 36px;
                        color: #cc9900;
                    }

                    svg {
                        width: 255px;
                        margin: auto;
                    }

                    p {
                        font-family: 'lato';
                        text-align: center;
                        font-size: 17px;
                        line-height: 1.7;
                        color: #ffffff;
                    }

                    #miniatures_ingredients {
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        margin: auto;
                        margin-top: 50px;
                        @media screen and (max-width: 575px) {
                            margin: 0;
                        }

                        img {

                            @media screen and (min-width: 576px) and (max-width: 767px) {
                                width: 75px;
                                height: 75px;
                            }

                            @media screen and (max-width: 575px) {
                                width: 55px;
                                height: 55px;
                            }
                        }
                    }
                }
            }
        }

        #section_reviews {
            width: 100%;
            background-image: url('../img/background_reviews.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;

            div {
                width: 450px;
                display: flex;
                flex-direction: column;
                background-image: url('../img/background_reviews_texts.png');
                background-repeat: no-repeat;
                background-size: cover;
                margin: 100px 0;
                padding: 50px 50px;

                @media screen and (max-width: 575px) {
                    width: 80vw;
                }

                h2 {
                    text-align: center;
                    font-family: 'yesevaOne';
                    font-size: 36px;
                    color: #ffffff;
                }

                svg {
                    width: 255px;
                    margin: auto;
                }

                p {
                    font-family: 'lato';
                    text-align: center;
                    font-size: 17px;
                    line-height: 1.7;
                    color: #ffffff;

                    span {
                        display: block;
                        font-family: 'gentium book basic';
                        text-align: center;
                        font-size: 12px;
                        padding: 30px 0;
                    }
                }
            }
        }

        #section_reservation {
            width: 100%;
            background-image: url('../img/pattern_rond.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            div.content-width {
                // la taille ets donnée par la .content-width
                display: flex;
                justify-content: center;
                margin: auto;
                @media screen and (min-width: 992px) and (max-width: 1199px) {
                    flex-wrap: wrap;
                }
                @media screen and (min-width: 768px) and (max-width: 991px) {
                    flex-wrap: wrap;
                }
                @media screen and (min-width: 576px) and (max-width: 767px) {
                    flex-wrap: wrap;
                }

                @media screen and (max-width: 575px) {
                    flex-wrap: wrap;
                }

                #images_assiettes {
                    display: flex;
                    justify-content: center;
                    // flex-wrap: wrap;
                    // @media screen and (min-width: 576px) and (max-width: 767px) {
                    //     flex-direction: column;
                    // }

                    // @media screen and (max-width: 575px) {
                    //     flex-direction: column;
                    // }
                    img {
                        padding: 100px 8px;
                        @media screen and (min-width: 576px) and (max-width: 767px) {
                            width: 35%;
                        }
    
                        @media screen and (max-width: 575px) {
                            width: 35%;
                        }
                    }
                }

                #reserv_ta_table {
                    width: 500px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 93px 50px;

                    h2 {
                        text-align: center;
                        font-family: 'yesevaOne';
                        font-size: 36px;
                        color: #cc9900;
                    }

                    svg {
                        width: 255px;
                        margin: 0 auto;
                    }

                    p {
                        font-family: 'lato';
                        text-align: center;
                        font-size: 17px;
                        line-height: 1.7;
                        color: #4c4c4c;
                    }

                    form {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;

                        div {
                            display: flex;
                            flex-direction: column;
                            padding-top: 5px;

                            label {
                                font-family: 'openSans';
                                font-weight: 700;
                                color: #cc9900;
                            }

                            input {
                                width: 150px;
                                padding: 10px 0 10px 13px;
                                font-family: 'openSans';
                                font-style: italic;
                            }

                            input:hover {
                                border: 1px solid #cc9900;
                            }
                        }

                        #form_date {
                            input {
                                width: 164px;
                                padding: 7.5px 0;
                            }
                        }

                        div:last-of-type {
                            padding-bottom: 30px;
                        }

                        #btn_book_now {
                            width: 200px;
                            height: 35px;
                            font-family: 'openSans';
                            font-size: 16px;
                            color: white;
                            background-color: #cc9900;
                            border: none;
                        }

                        #btn_book_now:hover {
                            border: 1px solid grey;
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        background-color: #191919;

        div.content-width {
            // la taille est donnée dans .content-width
            display: flex;
            justify-content: space-between;
            margin: auto;
            padding: 50px 0;
            @media screen and (min-width: 576px) and (max-width: 767px) {
                flex-direction: column;
                align-items: center;
            }

            @media screen and (max-width: 575px) {
                flex-direction: column;
                align-items: center;
            }

            div.vertical-flex {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 23%;
                @media screen and (min-width: 576px) and (max-width: 767px) {
                    width: 70%;
                    margin-top: 75px;
                }
    
                @media screen and (max-width: 575px) {
                    width: 70%;
                    margin-top: 75px;
                }

                h2 {
                    // text-align: center;
                    font-family: 'yesevaOne';
                    font-size: 21px;
                    color: white;
                }

                svg {
                    width: 200px;
                }

                p {
                    text-align: center;
                    font-family: 'openSans';
                    font-size: 16px;
                    color: white;
                }
                div.logos {
                    a {
                        svg {
                            width: 25px;
                            height: 25px;
                            padding-top: 40px;
                            padding-right: 10px;
                            fill: white;
                        }
                    }
                }
            }
            // la première div est plus large que les 2 autres
            div.vertical-flex:first-child {
                width: 30%;
                @media screen and (min-width: 576px) and (max-width: 767px) {
                    width: 70%;
                    margin-top: 0;                }
    
                @media screen and (max-width: 575px) {
                    width: 70%;
                    margin-top: 0;
                }
            }

            div.vertical-flex:last-child {
                p {
                    span {
                        display: block;
                    }
                }
            }
        }
    }
}